body{
    margin: 0;
    padding: 0;
    background-color: #F7F1DF; /* set background color */
}

.header{
    display: flex; /* use flexbox layout */
    justify-content: space-between;
    padding: 25px;
    
}

nav{
    border-bottom: 1px solid #5D3A2C; /* add nav bottom border line */
    padding-bottom: 10px;
    text-align: right;
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  nav ul li {
    display: inline; /* display nav items horizontally */
    margin-right: 60px; /* add space between navigation links */
    font-size: 17px;
  }
  nav ul li a{
    text-decoration: none; /* remove unerline from links */
    color: #5D3A2C; /* set color for links */
  }
  .navcat{
    width: 100px;
    float: left;
    margin-left: 5%;
    margin-top: -4%;
  }
  .imagineicon{
    width: 180px;
    float: left;
    margin-top: 70px;
    margin-left: 60px;
  }
  .detailicon{
    width: 170px;
    float: right;
    margin-top: 80px;
    margin-right: 240px;

  }
  .happyicon{
    width: 120px;
    float: left;
    margin-top: -250px;
    margin-left: 130px;
  }
  .supericon{
    width: 120px;
    float: right;
    margin-top: -250px;
    margin-right: 150px;
  }
  .creativeicon{
    width: 140px;
    float: left;
    margin-top: -50px;
    margin-left:190px;
  }
  .slayicon{
    width: 130px;
    float: right;
    margin-top: 10px;
    margin-right: 190px;
  }
  .coolicon{
    width: 140px;
    margin-top: 120px;
    margin-left: 70px;
  }
  .heheicon{
    width: 160px;
    margin-left: 250px;
    margin-top: 110px;
  }
h1{
    color:#5D3A2C;
    margin-top: 13%;
    text-align: center;
    font-family: "Maitree", sans-serif;
    font-weight: 100;
    margin-bottom: 70px;
}
h2{
    color:#5D3A2C;
    font-family: "Malayalam MN", sans-serif;
    text-align: center;
    font-weight: 100;
}
.description{
    width: 55%;
    margin: 0 auto;
}
.horizontal-line {
  border: 0; /* Remove default border */
  height: 1px; /* Set height of the line */
  background-color: #5D3A2C; /* Set color of the line */
  margin: 50px 0; /* Adjust margin as needed */
  margin-top: 300px;
}
.Title{
  color:#5D3A2C;
  margin-left: 100px;
  margin-top: -40px;
  font-weight: 100;
}
.Command{
  color:#5D3A2C;
  float: right;
  margin-right: 100px;
  margin-top: -40px;
  font-weight:100;

}
.two-horizontal-line {
  border: 0; /* Remove default border */
  height: 1px; /* Set height of the line */
  background-color: #5D3A2C; /* Set color of the line */
  margin: 50px 0; /* Adjust margin as needed */
  margin-top: -10px;
}
.beige-section {
  background-color: #F2E6D1;
  width: 50%;
  height: 70%;
  margin-top: 10%;
  border: 1px solid #5D3A2C; /* Add a 2px width solid black border */
  padding: 20px; /* Add padding to create space between the content and the border */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.beige-section h3{
  color:#5D3A2C;
}





